.conteneur__icone{
    display: flex;
    width: 35px;
    .icone{
        position: absolute;
        font-size: 25px;
        margin: 0px;
        padding: 0px;
        align-self: center;
        cursor: pointer;
    }
    .invisible{
        color: black;
        opacity: 1;
        transition: all 0.4s ease-in-out;
        &:hover{
            opacity: 0;
        }
    }
    .visible{
        color: $color-background-secondary;
        opacity: 0;
        transition: all 0.4s ease-in-out;                           
        &:hover{
            opacity: 1;
            color: $color-primary;
        }
    }
}