.restaurant__main {
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    &__presentation{
        margin-bottom: 25px;
        &__figure{
            width: 100%;
            height:285px;
            margin: 0px 0px 5px 0px;
            padding:0px;
            &__dimension{
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                object-fit: cover;
            }
            &__figcaption{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                background-color: $color-background;
                position: relative;
                margin: -50px auto 15px auto;
                min-width: 0px;
                &__h1{
                    font-family: 'Shrikhand';
                    font-size: 28px ;
                    margin: 30px auto 0px 20px;
                    padding:0px;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    overflow:hidden;
                    white-space: nowrap;
                }
                .container__icone{
                    margin: auto;
                    .icone{
                        font-size: 26px;                     
                        margin: 30px 30px auto auto;
                    }
                }
            }
        }
    }
    &__starter,&__main-course,&__dessert{
        margin-top: 25px;
        &__title{
            margin: 0px 15px 10px 20px;
            text-transform: uppercase;
            border-bottom: 3px solid $color-tertiary;
            width: 45px;
            font-weight: 400;
            font-size: 18px;
            padding-bottom: 3px;
        }
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 15px 15px 15px 15px;
            border-radius: 15px;
            min-width: 0px;
            cursor: pointer;
            @include shadow-primary;
            overflow: hidden;
            opacity: 0;
            animation: revealText 1s forwards;
            &.delay1{
                animation-delay: 0.2s;
            }
            &.delay2{
                animation-delay: 0.4s;
            }
            &.delay3{
                animation-delay: 0.6s;
            }
            &.delay4{
                animation-delay: 0.8s;
            }
            &:hover .restaurant__main__dessert__container__3{
                transform: scaleX(1);
                width: 75px;
                transition: all 0.5s ease-in-out 0s;
            }
            &:hover .fa-circle-check{
                transform: rotate(360deg);
                transition: all 0.5s ease-in-out 0s;
            }
            &__1{
                text-overflow: ellipsis;
                overflow:hidden;
                white-space: nowrap;
                padding: 12px 0px 10px 10px;
                flex-grow: 1;
                &__p,&__h3{
                    text-overflow: ellipsis;
                    overflow:hidden;
                    white-space: nowrap;
                    margin: 0px;
                    padding: 0px;
                    box-sizing: border-box;
                    line-height: 25px;
                }
                &__p{
                    margin-right: 5px;
                    font-size: 15px;
                }
            }
            &__2{
                display: flex;
                &__p{
                    margin: 25px 15px 0px 0px;
                    padding: 0px;
                    font-weight: 600;
                    align-self: center;
                    box-sizing: border-box;
                }
            }
            &__3{
                display: flex;
                height:auto;
                position:relative;
                transition: all 0.5s ease-in-out 0s;
                width: 0px;
                max-width: 60px;
                background: $color-tertiary;
                border-top-right-radius: 15px;
                border-bottom-right-radius:15px ;
                transform: scaleX(0);
                transform-origin: right 100%;
                .fa-circle-check{
                    font-size: 25px;
                    margin: auto;
                    color: $color-background-secondary;
                    transform: rotate(0deg);
                }
            }
        }
    }
    &__btn{
        margin: 20px auto 5px auto;
    }
}

@keyframes revealText{
    from{
        transform:translateY(20px)
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@media screen and(min-width:768px){
    .restaurant__main{
        flex-direction: row;
        flex-wrap: wrap;
        &__presentation{
            width: 100%;
            &__figure{
                &__figcaption{
                    &__h1{
                        flex-grow: 1;
                        margin-left: 10%;
                    }
                    .container__icone{
                        width: 70px;
                        .fa-heart{
                            font-size: 35px;
                        }
                    }
                }
            }
        }
        &__starter,&__main-course{
            width: 45%;
            margin: 30px auto auto auto;
        }
        &__dessert{
            width: 60%;
            margin: 20px auto 20px auto;
        }
        &__btn{
            width: 100%;
            text-align: center;
        }
    }
}
@media screen and(min-width:992px){
    .restaurant__main {
        flex-direction: row;
        flex-wrap: wrap;

        &__presentation{
            width: 60%;
            order: 1;
            margin: 25px 25px 25px 25px;

            &__figure{
                @include shadow-primary;
                border-radius: 20px;
                &__dimension{
                    border-radius: 20px;
                }
                &__figcaption {
                    border-radius: 0px;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background-color: $color-background;
                    margin: -20px auto 15px auto;
                    @include shadow-primary;
                    &__h1{
                        margin: 20px auto 9px 20px ;
                    }
                    .container__icone{
                        margin: auto;
                        .icone{
                            margin: auto auto auto auto;
                        }
                    }
                }  
            }
        }
        &__starter,&__main-course,&__dessert{
            margin: 70px auto 60px auto;
            width: 30%;
            order: 3;
            &__container{
                margin: 25px 15px 25px 15px;
            }
        }
        &__btn{
            margin: 20px auto 5px auto;
            width: 30%;
            order: 2;
            align-self: center;
            flex-grow: 1;
            margin: auto;
            text-align: center;
            .btn-main{
                margin: auto;
            }
        }
    }
}
