$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-form:#eaeaea;
$color-background:#f6f6f6;
$color-background-secondary: white;
$color-overlay: #008766;
$color-background-footer:#353535;
$color-fonctionnement-hover:#f5edff;
$color-fonctionnement-icone:#7e7e7e;