.header{
    display: flex;
    align-items: end;
    justify-content: flex-start;
    height: 50px;
    width: auto;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    position: relative;
    &__logoContainer{
        margin: 0px auto 0px auto;
        align-self:flex-end;
        .logo{
            width: 150px;
        }
    }
    &__retour{
        position: absolute;
        font-size:22px;
        color: black;
        margin:auto 0px 5px 20px;
    }
}